.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square{
    transition: 2s
}
.ex-3-square:hover{
    border-radius: 50px;
}
.ex-4-square{
    transition: 2s;
}
.ex-4-square:hover{
    opacity: 0;
}



.ex-5-square{
    transition: 5s;
    
}
.ex-5-square:hover{
    transform: scale(4);
}
.ex-5-square:active{
    transform:scale(.5);

}
.ex-6-img:hover{
    transition: 5s;
    filter: grayscale(.9);
}


.ex-7-img {
    transition: 4s;
}
.ex-7-img:hover {
    filter: grayscale(.6) invert(.2);
  }

.ex-8-img {
    transition: 3s;
}
.ex-8-img:hover{
    filter: hue-rotate(70deg) brightness(0.30); border-radius: 40px;
}

.ex-9-img{
    transition: 5s;
}
.ex-9-img:hover{
    filter: opacity(.1); filter: invert(0.5); border-radius: 50px; 
    transform:scale(2);


}
.ex-10-icon{
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0% {
        transform: rotate(5turn)
    }
     
}
.ex-11-icon{
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0% {
        transform: rotate(5turn)
    }
     
}
